{% extends 'tools/base.html' %} {% block title %}Homepage{% endblock title %}

<!-- {% block content %}
<div class="text-center mb-8">
  <h2 class="text-3xl font-bold text-gray-800 mb-4">
    Welcome to the Media & Content Tools
  </h2>
  <p class="text-lg text-gray-600">Choose a tool below to get started</p>
</div>

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
  <a
    href="{% url 'instagram_reel_download' %}"
    class="bg-white rounded-lg shadow-lg p-6 text-center hover:shadow-xl transition"
  >
    <h3 class="text-xl font-semibold text-blue-600">Instagram Reel Download</h3>
    <p class="text-gray-500">Download Instagram reels with ease.</p>
  </a>
  <a
    href="{% url 'instagram_hashtag_generator' %}"
    class="bg-white rounded-lg shadow-lg p-6 text-center hover:shadow-xl transition"
  >
    <h3 class="text-xl font-semibold text-blue-600">
      Instagram Hashtag Generator
    </h3>
    <p class="text-gray-500">Generate hashtags based on image content.</p>
  </a>
  <a
    href="{% url 'instagram_story_download' %}"
    class="bg-white rounded-lg shadow-lg p-6 text-center hover:shadow-xl transition"
  >
    <h3 class="text-xl font-semibold text-blue-600">
      Instagram Story Download
    </h3>
    <p class="text-gray-500">Easily download Instagram stories.</p>
  </a>
  <a
    href="{% url 'instagram_to_mp3' %}"
    class="bg-white rounded-lg shadow-lg p-6 text-center hover:shadow-xl transition"
  >
    <h3 class="text-xl font-semibold text-blue-600">Instagram to MP3</h3>
    <p class="text-gray-500">Convert Instagram videos to audio files.</p>
  </a>
  <a
    href="{% url 'instagram_photo_download' %}"
    class="bg-white rounded-lg shadow-lg p-6 text-center hover:shadow-xl transition"
  >
    <h3 class="text-xl font-semibold text-blue-600">
      Instagram Photo Download
    </h3>
    <p class="text-gray-500">Download photos from Instagram.</p>
  </a>
  <a
    href="{% url 'facebook_reel_download' %}"
    class="bg-white rounded-lg shadow-lg p-6 text-center hover:shadow-xl transition"
  >
    <h3 class="text-xl font-semibold text-blue-600">Facebook Reel Download</h3>
    <p class="text-gray-500">Download Facebook reels instantly.</p>
  </a>
</div>
{% endblock content %} -->
